[mounted = "false"]{
    --opacity: 0;
    --scale: 1.1;
}

[mounted = "true"]{
    --opacity: 1;
    --scale: 1;
}

.calendar-days-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 30px);
    row-gap: 5px;
    column-gap: 5px;
    justify-items: center;
    opacity: var(--opacity);
    transform: scale(var(--scale));
    transition: transform 0.1s ease, opacity 0.1s ease-in;
}

.day-item{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 5px;
}

.day-item:hover{
    background-color: #BAEED1;
    opacity: 1;
    transition: all 0.4s ease;
}